# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
.vscode
build
#Kicad
**/KiCad/**/*-bak
**/KiCad/**/*-cache.lib
**/KiCad/**/fp-info-cache
**/KiCad/**/*.kicad_pcb-bak
**/KiCad/**/*.sch-bak
**/KiCad/**/*-backups/*.zip
# Python Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
#Freecad
*.FCBak
