# Copy to secrets.yaml and add your own values

wifi_ssid: "wifi_ssid"
wifi_password: "wifi_password"
wifi_gateway: "192.168.2.1"
wifi_subnet: "155.255.255.0"
wifi_dns1: "192.168.2.1"
wifi_ssid: "esphome_${devicename}"
wifi_ap_password: "wifi_ap_password"

api_key: "api_password"

ota_password: "api_password"

uptime_update_interval: 10min